### Libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

### CSV into DATAFRAME

In [2]:
geoplaces_csv_file = "geoplaces2.csv"
geoplaces_data_df = pd.read_csv(geoplaces_csv_file)
geoplaces_data_df.head(2)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none

In [3]:
rating_final_csv_file = "rating_final.csv"
rating_final_data_df = pd.read_csv(rating_final_csv_file)
rating_final_data_df.head(2)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1

### Merge Rating -> Geoplaces

In [4]:
df=geoplaces_data_df.merge(rating_final_data_df, left_on='placeID', right_on='placeID',how='outer')

In [5]:
# Create a filtered dataframe from specific columns
geoplaces_cols = ["placeID", "latitude", "longitude","name","city","userID","rating","food_rating","service_rating"]
geoplaces_transformed= df[geoplaces_cols].copy()

geoplaces_transformed.drop_duplicates("placeID", inplace=True)
geoplaces_transformed.set_index("placeID", inplace=True)

geoplaces_transformed.head()

,latitude,longitude,name,city,userID,rating,food_rating,service_rating
placeID,,,,,,,,
134999,18.915421,-99.184871,Kiku Cuernavaca,Cuernavaca,U1093,2,2,2
132825,22.147392,-100.983092,puesto de tacos,s.l.p.,U1077,2,2,2
135106,22.149709,-100.976093,El Rinc�n de San Francisco,San Luis Potosi,U1055,2,2,2
132667,23.752697,-99.163359,little pizza Emilio Portes Gil,victoria,U1103,1,2,2
132613,23.752903,-99.165076,carnitas_mata,victoria,U1103,2,2,2

In [6]:
geoplaces_transformed.to_csv('output_merge_placeid.csv')

In [ ]:
con = psycopg2.connect(
            host = "sarathmac",
            database="restaurant_ratings",
            user= "postgres",
            password="postgres")

In [ ]:
con.table_names()

In [ ]:
geoplaces_transformed.to_sql()